{% extends 'base.html.twig' %}

{% block title %}Nouveau Site{% endblock %}

{% block body %}
    <h1>Créer un nouveau Site</h1>

    <div class="form-container">
        {{ include('site/_form.html.twig', { 'button_label': 'Enregistrer' }) }}
    </div>

    <div class="actions">
        <a href="{{ path('app_site_index') }}" class="btn">Retour à la liste</a>
    </div>
{% endblock %}
