{% extends 'base.html.twig' %}

{% block title %}Nouvelle Ville{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Ville</h1>

    <div class="form-container">
        {{ include('ville/_form.html.twig', { 'button_label': 'Enregistrer' }) }}
    </div>

    <div class="actions">
        <a href="{{ path('app_ville_index') }}" class="btn">Retour à la liste</a>
    </div>
{% endblock %}
